@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;

  @theme{
    --color-grey-200: #D8D8D8;
    --color-grey-300: #C5C6CE;

    --color-navy-600: #5E607A;
    --color-navy-950: #00001A;

    --color-gold-400: #E9AA52;

    --color-red-500: #F15D51;

    --text-preset-1: 56px;
    --leading-preset-1: 56px;
    --font-weight-preset-1: 800;

    --text-preset-2: 40px;
    --leading-preset-2: 40px;
    --font-weight-preset-2: 800;

    --text-preset-3: 32px;
    --leading-preset-3: 32px;
    --font-weight-preset-3: 700;

    --text-preset-4: 20px;
    --leading-preset-4: 24px;
    --font-weight-preset-4: 800;

    --text-preset-5: 18px;
    --leading-preset-5: 24px;
    --font-weight-preset-5: 800;

    --text-preset-6: 15px;
    --leading-preset-6: 26px;

    --text-preset-7: 14px;
    --leading-preset-7: 24px;
    --tracking-preset-7: 4,38px;
    --font-weight-preset-7: 700;
  }
}
